<section class="text-center mt-5 mb-5">
    <h1 class"mb-4">Groups List</h1>

    {{#each teamsByGroup}}
        <h2 class="h4 mb-3">Group {{groupName}}</h2>
        <table class="table table-bordered table-striped mx-auto" style="width: 80%;">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="w-10">Rank</th>
                    <th scope="col" class="w-40">Team Name</th>
                    <th scope="col" class="w-20">Games Played</th>
                    <th scope="col" class="w-20">Goals Difference</th>
                    <th scope="col" class="w-20">Points</th>
                </tr>
            </thead>
            <tbody>
                {{#each teams}}
                    <tr>
                        <td>{{this.rank}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.gamesPlayed}}</td>
                        <td>{{this.goalsDifference}}</td>
                        <td>{{this.points_Group_Stage}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
</section>
