<section class="text-center mt-5 mb-5">
    <h1 class"mb-4">Gruppenliste</h1>

    <div class="page-divider">
    {{#each teamsByGroup}}
        <h2 class="h4 mb-3">Gruppe {{groupName}}</h2>
        <table class="table table-bordered table-striped mx-auto" style="width: 80%;">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="w-10">Rang</th>
                    <th scope="col" class="w-40">Name</th>
                    <th scope="col" class="w-20">Spiele</th>
                    <th scope="col" class="w-20">Tore
                    <th scope="col" class="w-20">Tordifferenz</th>
                    <th scope="col" class="w-20">Punkte</th>
                </tr>
            </thead>
            <tbody>
                {{#each teams}}
                    <tr>
                        <td>{{this.rank}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.gamesPlayed_Group_Stage}}</td>
                        <td><strong>{{this.goalsGroupStage.[0]}}</strong>:{{this.goalsGroupStage.[1]}}</td>
                        <td>{{this.goalsDifferenceGroupStage}}</td>
                        <td>{{this.points_Group_Stage}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
    </div>

    Disclaimer: The ranking is based on the following criteria: 1) Points; 2) Goal difference; 3) Goals scored
</section>
