<div class="container text-center">
    <div class="page-divider">
        <div class="d-flex justify-content-between align-items-center">

            <div class="text-center" style="width: 30%;">
                <h3 id="team1Name" style="font-size: 30pt;">{{ game.opponents.[0] }}</h3>
                <h1 id="team1Score" style="font-weight: bold; font-size: 90pt;">{{ game.goals.[0] }}</h1>
            </div>
            <div>
                <h2><span id="liveCountdownTimer" style="font-weight: bold; font-size: 90pt;"> 00:00</span></h2>
            </div>
            <div class="text-center" style="width: 30%;">
                <h3 id="team2Name" style="font-size: 30pt;">{{ game.opponents.[1] }}</h3>
                <h1 id="team2Score" style="font-weight: bold; font-size: 90pt;">{{ game.goals.[1] }}</h1>
            </div>

        </div>

        {{#if noActiveGame}}
        <p class="mt-3" id="noActiveGameMessage">No active game</p>
        {{else}}
        <p class="mt-3 d-none" id="noActiveGameMessage">No active game</p>
        {{/if}}

        <div class="alert alert-info d-none mt-2" role="alert">
            This is a info alert to show Sekt for a Team.
        </div>

        {{!-- Timer Status (ausgeblendet): --}}
        <span id="timerStatus" class="ml-2 d-none"></span> 
    </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-flex align-items-center page-divider" style="height: 400px; overflow: hidden;">
        <div class="carousel-item active" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/knoll_edit.jpg" alt="Rolladenbau Knoll">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/scheffold_edit.jpg" alt="Scheffold Holzbau">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/schlager_edit.jpg" alt="Schlager Stuckateurbetrieb">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/stoeferle_automotive_edit.jpg" alt="Schlager Stuckateurbetrieb">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/stoeferle_edit.jpg" alt="Schlager Stuckateurbetrieb">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/henle_edit.jpg" alt="Hofladen Henle">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block mx-auto max-height-100" src="/images/gretzinger_edit.jpg" alt="Getzinger">
        </div>
    </div>
    
    <!-- Navigation buttons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="connectionIndicator" class="text-center mt-3">
    <span id="connectionStatusText" class="text-danger">Verbinde...</span>
</div>

    {{!-- <div class="text-center">
        <p><strong>Game Time:</strong> {{ formatTime game.time }}</p>
        <p><strong>Status:</strong> {{ game.status }}</p>
    </div> --}}
</div>

<script src="https://cdn.socket.io/4.3.1/socket.io.min.js"></script>
<script>
    const socket = io('{{socketConfig.protocol}}://{{socketConfig.host}}:{{socketConfig.socketPort}}');

    socket.on('connect', () => {
        console.log('Socket connected');
        document.getElementById('connectionStatusText').classList.remove('text-danger');
        document.getElementById('connectionStatusText').classList.add('text-success');
        document.getElementById('connectionStatusText').textContent = 'Verbunden';
    });

    socket.on('disconnect', () => {
        console.log('Socket disconnected');
        document.getElementById('connectionStatusText').classList.remove('text-success');
        document.getElementById('connectionStatusText').classList.add('text-danger');
        document.getElementById('connectionStatusText').textContent = 'Getrennt';
    });

    socket.on('timerUpdate', (timerValue, isPaused, timerStatus) => {
        const minutes = Math.floor(timerValue / 60);
        const seconds = timerValue % 60;
        const formattedTime = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        document.getElementById('liveCountdownTimer').innerText = formattedTime;
        document.getElementById('timerStatus').innerText = `Status: ${timerStatus}`;
    });

    socket.on('updateLiveGame', (updatedGame) => {
        updatePage(updatedGame);
        console.log('Game updated');
    });

    const audio = new Audio('/sounds/Horn.mp3');       // Create an audio element

    socket.on('playSound', (updatedGame) => {          
        audio.play();
    });

    let gameOppNames = ['{{ game.opponents.[0] }}', '{{ game.opponents.[1] }}'];

    async function updatePage(game) {
        updateScore('team1Score', game.goals[0]);
        updateScore('team2Score', game.goals[1]);  
        const teamName1 = await updateName('team1Name', game.opponents[0]);
        const teamName2 = await updateName('team2Name', game.opponents[1]); 

        gameOppNames = [teamName1, teamName2];
        console.log('gameOppNames: ' + gameOppNames);

        SetActiveGameMessage(game.status);
    }

    function SetActiveGameMessage(status) {        
        if (status === 'active') {
            NoActiveGameMessage = document.getElementById('noActiveGameMessage');
            NoActiveGameMessage.style.display = 'none';
        } else {
            NoActiveGameMessage = document.getElementById('noActiveGameMessage');
            NoActiveGameMessage.style.display = 'block';
        }        
    }

    function updateScore(elementId, score) {
        const scoreElement = document.getElementById(elementId);
        if (scoreElement) {
            scoreElement.innerText = score;
        }
    }

    async function updateName(elementId, teamID) {
        // get name based on id
        const response = await fetch(`/team/getTeamName/${teamID}`, { method: 'GET'})

        if (response.ok) {
            // get the team name which is returned as a string
            const teamName = await response.text();
            const nameElement = document.getElementById(elementId);
            if (nameElement) {
                nameElement.innerText = teamName;
            }
            return teamName;
        } else {
            console.error('Failed to get team name');
            return "Error fetching team name";
        }
    }

    socket.on('Sekt', (team) => {
        console.log('Sekt for Team: ' + team.name);
        const alert = document.querySelector('.alert-info');
         alert.innerHTML = '<h4 class="alert-heading">Sekt für ' + team.name + ' !</h4>';
        alert.classList.remove('d-none');
        setTimeout(() => {
            alert.classList.add('d-none');
        }, 20000);
    });

    socket.emit('getData'); //Call for game data when page loads
</script>