<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel='stylesheet' href='/css/yourStyles.css' />
    <title>Budeturnier</title>

    <style>
        {{#if (or (eqref userrole "beamer") (eqref userrole "TV"))}} 
        .navbar {
            display: none;
        }
        .container-fluid:hover .navbar {
            display: flex;
        }
        {{/if}}
        .nav-link {
            padding: 0.5rem 1rem;
        }
    </style>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
    <div class="container-fluid bg-dark text-light p-3 mb-3">
        <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand d-flex align-items-center" href="/">
        
            <img src="/images/LogoSE.png" alt="LogoSE" class="align-middle zoom">

                <span class="align-middle ms-2"><i class="fas fa-trophy"></i> Budeturnier 2026</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{#if username}}

                    {{#unless (eqref userrole "beamer")}}

                        <li class="nav-item">
                            <a class="nav-link ms-5" href="/TV">TV Anzeige</a>
                        </li>                    

                        {{#unless (eqref userrole "TV")}}                        
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/team/list">Mannschaften</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/schedule/list">Spielplan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/team/grouplist">Gruppen</a>
                            </li>                     
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/game/live">Live Game</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/scorer">Torschützen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/player">Spieler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/certificate">Urkunden</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ms-5" href="/mainSettings"><i class="fas fa-cogs"></i></a>
                            </li>
                            {{/unless}}

                        {{/unless}}

                        
                        {{#if (eqref userrole "beamer")}}
                              <li class="nav-item">
                                <a class="nav-link ms-5" href="/game/live">Live Game</a>
                            </li>
                        {{/if}}
                        



                    {{/if}}

                    {{#unless username}}
                        <li class="nav-item">
                            <a class="nav-link ms-5" href="https://www.instagram.com/s_scharfe_eck/" target="_blank">
                                <i class="fab fa-instagram"></i> Folgt uns auf Instagram!
                            </a>
                        </li>
                    {{/unless}}

                    <li class="nav-item">
                        {{#if username}}
                            <a class="nav-link ms-5" href="/user/logout"><i class='fas fa-sign-out-alt'></i></a>
                        {{else}}
                            <a class="nav-link ms-5" href="/user/login"><i class="fas fa-user"></i></a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        {{#if username}}
                            <p class="navbar-text ms-5">Signed in: {{username}} - {{userrole}}</p>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{!-- Passe die Breite des Containers an die Anforderungen der TV-Anzeige an --}}
    <div id='box' class="{{#if (eqref path '/TV')}}col-lg-12{{else}}col-lg-11 col-md-11 col-sm-11 col-xs-11{{/if}} mx-auto">
        {{{body}}}
    </div>

</div>
</body>

<br>
</br>	

{{#unless (eqref userrole "beamer")}}
<footer class="text-center text-lg-start bg-dark text-white py-5">
        <div class="container d-flex justify-content-center">
         
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2026 S'scharfe Eck: <a class="text-white" href="/">Budeturnier 2026</a>
        </div>
</footer>
{{/unless}}

</html>
