<section style="text-align: center;">


    <h1>Schedule List</h1>
    <h3>
        <a href="/schedule/generate" class="btn btn-primary" role="button"
            onclick="return confirm('Are you sure you want to clear the Schedule and create new?');">
            Generate Schedule from Teams</a>
    </h3>
    <table class="mx-auto table table-bordered" style="margin-left: auto; margin-right: auto; text-align: center;">
        <thead>
            <tr>
                <th>Number</th>
                <th>Time ({{timeBetweenGames}} min Abstand)</th>
                <th>Team Opponents</th>
                <th>Goals</th>
                <th>Duration</th>
                <th>Group</th>
                <th>Status</th>
                <th>Game Phase</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.number}}</td>
                <td>{{formatTime this.time}}</td>
                <td>{{this.opponents}}</td>
                <td>{{this.goals.[0]}}:{{this.goals.[1]}}</td>
                <td>{{this.duration}} minutes</td>
                <td>{{this.group}}</td>
                <td>{{this.status}}</td>
                <td>{{this.gamePhase}}</td>

                <td>
                    <div style="white-space: nowrap;">
                        <a href="/schedule/{{this.id}}" class="btn btn-primary" >Edit Game</a>
                        <a href="/game/{{this.id}}/play" class="btn btn-success">Open Game</a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>