<section style="text-align: center;">
    <title>Schedule List</title>
    <h1>Schedule List</h1>
    <h3>
        <a href="/schedule/generate" style="text-decoration: none; color: #fff; background-color: #007bff; padding: 5px 10px; border-radius: 3px;" onclick="return confirm('Are you sure you want to clear the Schedule and create new?');">Generate Schedule from Teams</a>
    </h3>
    <table style="margin: 0 auto; width: 80%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2; height: 60px;">
                <th style="width: 10%; border: 1px solid #ddd;">Number</th>
                <th style="width: 20%; border: 1px solid #ddd;">Time ({{timeBetweenGames}} min Abstand)</th>
                <th style="width: 30%; border: 1px solid #ddd;">Opponents</th>
                <th style="width: 20%; border: 1px solid #ddd;">Goals</th>
                <th style="width: 15%; border: 1px solid #ddd;">Duration</th>
                <th style="width: 10%; border: 1px solid #ddd;">Group</th>
                <th style="width: 10%; border: 1px solid #ddd;">Status</th>
                <th style="width: 5%; border: 1px solid #ddd;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr style="border: 1px solid #ddd; height: 50px;">
                <td style="border: 1px solid #ddd; font-weight: bold;">{{this.number}}</td>
                <td style="border: 1px solid #ddd;">{{formatTime this.time}}</td>
                <td style="border: 1px solid #ddd;">{{this.opponents}}</td>
                <td style="border: 1px solid #ddd;">{{this.goals.[0]}}:{{this.goals.[1]}}</td>
                <td style="border: 1px solid #ddd;">{{this.duration}} minutes</td>
                <td style="border: 1px solid #ddd;">{{this.group}}</td>
                <td style="border: 1px solid #ddd;">{{this.status}}</td>
   
         <td style="border: 1px solid #ddd;">
            <div style="white-space: nowrap;">
                <a href="/schedule/{{this.id}}" style="text-decoration: none; color: #fff; background-color: #007bff; padding: 8px 15px; border-radius: 3px; margin-right: 5px;">Edit Game</a>
                <a href="/schedule/{{this.id}}" style="text-decoration: none; color: #fff; background-color: #178f0c; padding: 8px 15px; border-radius: 3px;">Start Game</a>
            </div>
        </td>

            </tr>
            {{/each}}
        </tbody>
    </table>

    <br><br>

    <a href="/" style="text-decoration: none; color: #fff; background-color: #13380a; padding: 8px 15px; border-radius: 3px;">Zurück zu Main</a>
</section>

<script>
    // Helper function to format time in "hh:mm" format
    Handlebars.registerHelper('formatTime', function(time) {
        const formattedTime = new Date(time).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        return formattedTime;
    });
</script>



