    <section class="text-center">
        <div class="container-fluid">
        <h1>Teams List</h1>
        <p>
            <a href="/Team" class="btn btn-primary" role="button">Create New Team</a>
        </p>
        <div class="row justify-content-center page-divider">
            <div class="col-auto">

        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Games Played</th>
                <th scope="col">Games Won</th>
                <th scope="col">Games Lost</th>
                <th scope="col">Games Draw</th>
                <th scope="col">Goals</th>
                <th scope="col">Goals Difference</th>
                <th scope="col">Goals Group_Stage</th>
                <th scope="col">Goals Difference Group_Stage</th>
                <th scope="col">Sekt Won</th>
                <th scope="col">Points Group_Stage</th>
                <th scope="col">Points General</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each list}}
                <tr>
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.group}}</td>
                <td>{{this.gamesPlayed}}</td>
                <td>{{this.gamesWon}}</td>
                <td>{{this.gamesLost}}</td>
                <td>{{this.gamesDraw}}</td>
                <td>{{this.goals.[0]}}:{{this.goals.[1]}}</td>
                <td>{{this.goalsDifference}}</td>  
                <td>{{this.goalsGroupStage.[0]}}:{{this.goalsGroupStage.[1]}}</td>
                <td>{{this.goalsDifferenceGroupStage}}</td>                              
                <td>{{this.sektWon}}</td>
                <td>{{this.points_Group_Stage}}</td>
                <td>{{this.points_General}}</td>
                    <td>
                        <a href="/team/{{this.id}}" class="btn btn-primary" role="button">Edit</a>
                        <a href="/team/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this record?');" class="btn btn-danger" role="button">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        </div>

        <a href="/team/clearTeamCounters" onclick="return confirm('Are you sure you want to clear all team counters?');" class="btn btn-primary" role="button">Clear All Team Counters</a>
        </div>
    </section>
