    <section class="text-center mt-5 mb-5">
        <h1>Teams List</h1>
        <p>
            <a href="/Team" class="btn btn-primary" role="button">Create New Team</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Goals</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each list}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.group}}</td>
                    <td>{{this.goals}}</td>
                    <td>
                        <a href="/team/{{this.id}}" class="btn btn-primary" role="button">Edit</a>
                        <a href="/team/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this record?');" class="btn btn-danger" role="button">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
