<section style="text-align: center;">
    <title>Teams List</title>
    <h1>Teams List</h1>
    <h3>
        <a href="/Team" style="text-decoration: none; color: #fff; background-color: #007bff; padding: 5px 10px; border-radius: 3px;">Create New Team</a>
    </h3>
    <table style="margin: 0 auto; width: 80%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2; height: 60px;">
                <th style="width: 25%; border: 1px solid #ddd;">Name</th>
                <th style="width: 25%; border: 1px solid #ddd;">Group</th>
                <th style="width: 25%; border: 1px solid #ddd;">Goals</th>
                <th style="width: 25%; border: 1px solid #ddd;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr style="border: 1px solid #ddd; height: 50px;">
                <td style="border: 1px solid #ddd; font-weight: bold;">{{this.name}}</td>
                <td style="border: 1px solid #ddd;">{{this.group}}</td>
                <td style="border: 1px solid #ddd;">{{this.goals}}</td>
                <td style="border: 1px solid #ddd;">
                    <a href="/team/{{this.id}}" style="text-decoration: none; color: #fff; background-color: #007bff; padding: 8px 15px; border-radius: 3px;">Edit</a>
                    <a href="/team/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this record?');" style="text-decoration: none; color: #fff; background-color: #dc3545; padding: 8px 15px; border-radius: 3px; margin-left: 5px;">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <br><br>

    <a href="/" style="text-decoration: none; color: #fff; background-color: #13380a; padding: 8px 15px; border-radius: 3px;">Zurück zu Main</a>
</section>
