<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-between">

        <!-- Groups Section -->
        <div class="col-md-3 page-divider">
            <h1>Tabelle</h1>
            {{#each teamsByGroup}}
            <h2 class="h4 mb-3">Group {{groupName}}</h2>
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Platz</th>
                            <th scope="col">Team</th>
                            <th scope="col">Sp</th>
                            <th scope="col">T</th>
                            <th scope="col">TD</th>
                            <th scope="col">Pkt</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each teams}}
                        <tr>
                            <td>{{this.rank}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.gamesPlayed}}</td>
                            <td>{{this.goalsGroupStage.[0]}}:{{this.goalsGroupStage.[1]}}</td>
                            <td>{{this.goalsDifferenceGroupStage}}</td>
                            <td>{{this.points_General}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/each}}
            <p class="small">Disclaimer: The ranking is based on the following criteria: 1) Points; 2) Goal
                difference; 3) Goals scored</p>
        </div>

        <!-- Schedule List Section -->
        <div class="col-md-4 page-divider">
            <h1>Spielplan Gruppenphase</h1>
            <div class="table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nr.</th>
                            <th>Beginn</th>
                            <th>Gruppe</th>
                            <th colspan="2">Spiel</th>
                            <th>Ergebnis</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each gameslist}}
                        {{#streq this.gamePhase 'Group_Stage'}}
                        <tr class={{#streq this.status 'active' }} "bg-info" {{/streq}} {{#streq
                            this.gamePhase 'Group_Stage' }} {{else}}"bg-light"{{/streq}}>
                            <td>{{this.number}}</td>
                            <td><b>{{formatTime this.time}}</b></td>
                            {{#streq this.group.[0] this.group.[1]}}
                            <td>{{this.group.[0]}}</td>
                            {{else}}
                            <td>{{this.group.[0]}} - {{this.group.[1]}}</td>
                            {{/streq}}
                            <td>{{this.opponents.[0]}}</td>
                            <td>{{this.opponents.[1]}}</td>
                            <td>{{this.goals.[0]}}:{{this.goals.[1]}}</td>
                            <td>{{this.gameDisplayName}}</td>
                        </tr>
                        {{/streq}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Schedule List Section -->
        <div class="col-md-4 page-divider">
            <h1>Spielplan K.O.-Phase</h1>
            <div class="table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nr.</th>
                            <th>Beginn</th>
                            <th>Gruppe</th>
                            <th colspan="2">Spiel</th>
                            <th>Ergebnis</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each gameslist}}
                        {{#streq this.gamePhase 'Group_Stage'}}
                        {{else}}
                        <tr class={{#streq this.status 'active' }} "bg-info" {{/streq}} {{#streq
                            this.gamePhase 'Group_Stage' }} {{else}}"bg-light"{{/streq}}>
                            <td>{{this.number}}</td>
                            <td><b>{{formatTime this.time}}</b></td>
                            {{#streq this.group.[0] this.group.[1]}}
                            <td>{{this.group.[0]}}</td>
                            {{else}}
                            <td>{{this.group.[0]}} - {{this.group.[1]}}</td>
                            {{/streq}}
                            <td>{{this.opponents.[0]}}</td>
                            <td>{{this.opponents.[1]}}</td>
                            <td>{{this.goals.[0]}}:{{this.goals.[1]}}</td>
                            <td>{{this.gameDisplayName}}</td>
                        </tr>
                        {{/streq}}
                        {{/each}}
                    </tbody>
                </table>
                <div style="width:100%; text-align: center;">
                    <b><span id="currentTime" style="font-size: 80px;"></span></b>
                </div>
            </div>
        </div>


    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<script>
    // update the date and time
    function updateDateTime() {
        const now = new Date();
        const currentDateTime = now.toLocaleTimeString();
        document.querySelector('#currentTime').textContent = currentDateTime;
    }
    // call the `updateDateTime` function every second
    setInterval(updateDateTime, 1000);

    const socket = io('{{socketConfig.protocol}}://{{socketConfig.host}}:{{socketConfig.socketPort}}');

    socket.on('reloadTVPage', () => {
        location.reload();
    });
</script>